{% extends 'authenticated/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/authenticated/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-white">
                <div class="actuality p-5 sticky-top">
                    <h1 id="actu">Actualités</h1>
                </div>
            </div>

            <div class="col-md-6 p-5 feed">
                <div class="publish">
                    {{ form(form) }}
                </div>

                <hr>

                <div class="publications">
                    {% for publication in publications %}
                        {% include 'authenticated/publication/include/show_publication.html.twig' with {
                                'reactions': reactions, 'publication': publication
                            }
                        %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {# Mise à jour du "il y a" sur chaque publication #}
        const updateTimeValues = () => {
            fetch(
                "{{ path('update_time_values') }}",
                { headers: {"Content-Type": "application/json; charset=utf-8" } }
            ).then(res => res.json()).then(response => {
                const data = JSON.parse(response);

                for (let i = 0; i < data.length; i++) {
                    let elem = data[i];
                    $('#' + elem.id).html(elem.ago);
                }
            })
            .catch(err => {
                console.log(err);
            });
        };

        {# Actions liées aux réactions sur les publications #}
        const react = () => {
            // On hover reaction
            $('.react').each(function () {
                $(this).bind('mouseover', function () {
                    $(this).removeClass('far');
                    $(this).addClass('fas');
                });

                $(this).bind('mouseleave', function () {
                    $(this).removeClass('fas');
                    $(this).addClass('far');
                });
            });

            $('.react-ok, .react').each(function () {
                // On click reaction
                $(this).on('click', function () {
                    const label = $(this).attr('title');
                    const already_reacted = $(this).hasClass('react-ok');
                    const id = $(this).closest('.publication').attr('id').substr(12);

                    $.ajax({
                        method: "POST",
                        url: "{{ path('react_to_publication') }}",
                        data: {label: label, already_reacted: already_reacted, publication_id: id},
                        success: function (response) {
                            $('#publication-' + id).replaceWith(response);
                        },
                        complete: function () {
                            react();
                        }
                    })
                });
            });
        }
        
        $(document).ready(function () {
            setInterval(updateTimeValues, 60 * 1000)
            react();
        });
    </script>
{% endblock %}